.Answers {
  padding: 0 0 0 5%;
}

.Correct {
  padding: 5px;
}

.Incorrect {
  padding: 5px;
}

header {
  font-family: "Bowlby One SC", cursive;
  font-size: 50px;
  text-align: center;
}

body {
  background-image: linear-gradient(to left, pink, lightblue);
  font-family: "Open Sans Condensed", sans-serif;
  padding: 0 0 0 20px;
}

button {
  background-color: gold;
  font-family: "Bowlby One SC", cursive;
  margin-top: 5%;
}

.final-score {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  background-color: rgba(220, 20, 60, 0.7);
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms ease;
  font-size: 30px;
  font-family: "Bowlby One SC", cursive;
}

.restart {
}

@media screen and (max-width: 700px) {
  body {
    align-content: center;
  }
  .Answers {
    padding: 0 0 0 15%;
  }
  header {
    font-size: 25px;
  }

  body {
    font-size: 10px;
  }

  input[type="radio"] {
    border: 4px;
    width: 6px;
    height: 6px;
    float: left;
  }
}
